body {
    background-color: #dcdde1;
    font-family: 'B612 Mono', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

p {
    width: 60%;
}

h6 {
    font-size: 14px;
    margin: 0px;
  }

#count {
    font-weight : bold
}

#input {
    width:70%;
    height:18px;
    margin-right: 10px
}

#btn-blue {
    border-radius: 10%;
    color : blue;
    border : 1px solid blue;
    background-color: white;
    font-size: 16px
   
}

.add-message{
    border: 1px solid #718093;
    margin-top: 3px;
    border-radius: 10px;
    background-color: #FFFFFF;
    width : 50%;
    display: flex;
    align-items:center;
    padding: 15px;  
    justify-content: center
}

.trash {
    width : 15px;
  }

.avatar {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #718093;   
  }

.header {  
    /* border-top: 1px solid #718093 ;
    border-right: 1px solid #718093;
    border-left: 1px solid #718093; */
    border: 1px solid #718093;
    border-radius: 10px;
    background-color: #FFFFFF;
    width : 50%;
    display: flex;
    align-items:center;
    padding: 15px;  
  }

.row {  
    border: 1px solid #718093;
    margin-top: 3px;
    border-radius: 10px;
    background-color: #FFFFFF;
    width : 50%;
    display: flex;
    align-items:center;
    padding: 15px;  
    justify-content: space-between;       
  }


  