body {
    background-color: #dcdde1;
    font-family: 'B612 Mono', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

p {
    width: 90%;
}

h6 {
    font-size: 14px;
    margin: 0px;
  }

#searchBar {
    width:300px;
    height:18px;
}

#count {
    width:100px;
    font-weight : bold
}

#message {
    width:70%;
    height:18px;
    margin-right: 10px
}

#lastName {
    width:30%;
    height:18px;
    margin-right: 10px
}

#firstName {
    width:30%;
    height:18px;
    margin-right: 10px
}

#firstLine {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

#secondLine {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

#avatarLine {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}


#btn-blue {
    border-radius: 5%;
    color : blue;
    border : 1.5px solid blue;
    background-color: white;
    font-size: 16px;
    font-weight : Bold
}

#btn-search {
    border-radius: 5%;
    color : blue;
    border : 1.5px solid blue;
    background-color: white;
    font-size: 16px;
    font-weight : Bold
}

.bodyMessage {
    width: 100%;    
    display: flex;
    flex-direction: column;
}

.radio {
    width: 50px;
    height: 50px;
}

.add-message{
    border: 1px solid #718093;
    margin-top: 3px;
    border-radius: 10px;
    background-color: #FFFFFF;
    width : 50%;
    display: flex;
    align-items:center;
    padding: 15px; 
    justify-content: center;
    flex-direction: column
}

.trash {
    width : 15px;
  }

.avatar {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #718093;   
  }

.header {  
    border: 1px solid #718093;
    border-radius: 10px;
    background-color: #FFFFFF;
    width : 50%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 15px;  
  }

.row {  
    border: 1px solid #718093;
    margin-top: 3px;
    border-radius: 10px;
    background-color: #FFFFFF;
    width : 50%;
    display: flex;
    align-items:center;
    padding: 15px;  
    justify-content: space-between;       
  }


  